In [2]:
!pip install colorama

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting colorama
  Downloading colorama-0.4.5-py2.py3-none-any.whl (16 kB)
Installing collected packages: colorama
Successfully installed colorama-0.4.5

numbeo data by countries

In [3]:
# For web scraping
import requests 
from bs4 import BeautifulSoup
import pandas as pd

# To print colored text in terminal
import colorama
from colorama import Fore, Back, Style
colorama.init()


class webScraping:

    def __init__(self) -> None:
        self.DataDict = dict()
        self.DataDict["CountryName"] = list()


    def getCountyNameList(self, countryURL = "https://www.numbeo.com/cost-of-living/"):

        res = requests.get(countryURL).text
        soup = BeautifulSoup(res, "html.parser")
        
        countyrlist = list()
        
        for a in  soup.find_all('a',href = True):
            if 'country_result' in a['href']:
                countyrlist.append(a["href"].split("=")[1])
            
        return countyrlist

    def getCountriesCostOfLiving(self, countryURL, countryName):

        self.DataDict["CountryName"].append(countryName)
        res = requests.get(countryURL).text
        soup = BeautifulSoup(res, "html.parser")
        table = soup.find("table", class_ = "data_wide_table")
        for row in table.find_all("tr"):
            column = row.find_all("td")
            if column != []:
                name = column[0].text.strip()
                price = column[1].text.strip()
                
                if name not in [i for i in self.DataDict.keys()]:
                    self.DataDict[name] = list()
                    self.DataDict[name].append(price)

                else:
                    self.DataDict[name].append(price)



    def CountryNameOperation(self, countryName): 

        countryName = countryName.replace("%28", "(")
        countryName = countryName.replace("%29", ")")
        countryName = countryName.replace("+", " ")
        
        return countryName

    def dataMerge(self):
        
        countyrsList = self.getCountyNameList()
        print(Fore.LIGHTRED_EX, "Country names successfully imported (total number of countries : {})\n".format(len(countyrsList)))
        counter = 1
        for countryName in countyrsList:
            countryName_ = self.CountryNameOperation(countryName)
            url = "https://www.numbeo.com/cost-of-living/country_result.jsp?country={}&displayCurrency=USD".format(countryName)
            self.getCountriesCostOfLiving(url, countryName_)
            print(Fore.GREEN, "    Successfully completed ", Fore.MAGENTA, "--------------------- ",
                Fore.WHITE, "{}/{}".format(counter, len(countyrsList)), Fore.MAGENTA, "----", Fore.BLUE, "{}".format(countryName_))

            counter += 1

        return self.DataDict

    def getDataFrame(self):
        dataDict = self.DataDict
        counterDict = dict()
        
        for i in dataDict:
            if str(len(dataDict[i])) not in [ky for ky in counterDict.keys()]:
                
                counterDict[str(len(dataDict[i]))] = 1
            else:
                counterDict[str(len(dataDict[i]))] += 1
                
        maxValue = max(counterDict, key = counterDict.get)
        
        lastDict = dict()
        for i in dataDict:
            if len(dataDict[i]) == int(maxValue):
                lastDict[i] = dataDict[i]
                
        print(Fore.LIGHTGREEN_EX, "\nTransactions completed successfully.", Fore.RESET)
        
        return pd.DataFrame(lastDict)
            
            
                
            

WS = webScraping()

WS.dataMerge()

data = WS.getDataFrame()
print(data)

 Country names successfully imported (total number of countries : 233)

     Successfully completed   ---------------------   1/233  ----  Afghanistan
     Successfully completed   ---------------------   2/233  ----  Aland Islands
     Successfully completed   ---------------------   3/233  ----  Albania
     Successfully completed   ---------------------   4/233  ----  Alderney
     Successfully completed   ---------------------   5/233  ----  Algeria
     Successfully completed   ---------------------   6/233  ----  American Samoa
     Successfully completed   ---------------------   7/233  ----  Andorra
     Successfully completed   ---------------------   8/233  ----  Angola
     Successfully completed   ---------------------   9/233  ----  Anguilla
     Successfully completed   ---------------------   10/233  ----  Antigua And Barbuda
     Successfully completed   ---------------------   11/233  ----  Argentina
     Successfully completed   ---------------------   12/233  ----  Armenia
     Successfully completed   ---------------------   13/233  ----  Aruba
     Successfully completed   ---------------------   14/233  ----  Australia
     Successfully completed   ---------------------   15/233  ----  Austria
     Successfully completed   ---------------------   16/233  ----  Azerbaijan
     Successfully completed   ---------------------   17/233  ----  Bahamas
     Successfully completed   ---------------------   18/233  ----  Bahrain
     Successfully completed   ---------------------   19/233  ----  Bangladesh
     Successfully completed   ---------------------   20/233  ----  Barbados
     Successfully completed   ---------------------   21/233  ----  Belarus
     Successfully completed   ---------------------   22/233  ----  Belgium
     Successfully completed   ---------------------   23/233  ----  Belize
     Successfully completed   ---------------------   24/233  ----  Benin
     Successfully completed   ---------------------   25/233  ----  Bermuda
     Successfully completed   ---------------------   26/233  ----  Bhutan
     Successfully completed   ---------------------   27/233  ----  Bolivia
     Successfully completed   ---------------------   28/233  ----  Bonaire
     Successfully completed   ---------------------   29/233  ----  Bosnia And Herzegovina
     Successfully completed   ---------------------   30/233  ----  Botswana
     Successfully completed   ---------------------   31/233  ----  Brazil
     Successfully completed   ---------------------   32/233  ----  British Virgin Islands
     Successfully completed   ---------------------   33/233  ----  Brunei
     Successfully completed   ---------------------   34/233  ----  Bulgaria
     Successfully completed   ---------------------   35/233  ----  Burkina Faso
     Successfully completed   ---------------------   36/233  ----  Burundi
     Successfully completed   ---------------------   37/233  ----  Cambodia
     Successfully completed   ---------------------   38/233  ----  Cameroon
     Successfully completed   ---------------------   39/233  ----  Canada
     Successfully completed   ---------------------   40/233  ----  Cape Verde
     Successfully completed   ---------------------   41/233  ----  Cayman Islands
     Successfully completed   ---------------------   42/233  ----  Central African Republic
     Successfully completed   ---------------------   43/233  ----  Chad
     Successfully completed   ---------------------   44/233  ----  Chile
     Successfully completed   ---------------------   45/233  ----  China
     Successfully completed   ---------------------   46/233  ----  Colombia
     Successfully completed   ---------------------   47/233  ----  Comoros
     Successfully completed   ---------------------   48/233  ----  Congo
     Successfully completed   ---------------------   49/233  ----  Cook Islands
     Successfully completed   ---------------------   50/233  ----  Costa Rica
     Successfully completed   ---------------------   51/233  ----  Croatia
     Successfully completed   ---------------------   52/233  ----  Cuba
     Successfully completed   ---------------------   53/233  ----  Curacao
     Successfully completed   ---------------------   54/233  ----  Cyprus
     Successfully completed   ---------------------   55/233  ----  Czech Republic
     Successfully completed   ---------------------   56/233  ----  Denmark
     Successfully completed   ---------------------   57/233  ----  Djibouti
     Successfully completed   ---------------------   58/233  ----  Dominica
     Successfully completed   ---------------------   59/233  ----  Dominican Republic
     Successfully completed   ---------------------   60/233  ----  Ecuador
     Successfully completed   ---------------------   61/233  ----  Egypt
     Successfully completed   ---------------------   62/233  ----  El Salvador
     Successfully completed   ---------------------   63/233  ----  Equatorial Guinea
     Successfully completed   ---------------------   64/233  ----  Eritrea
     Successfully completed   ---------------------   65/233  ----  Estonia
     Successfully completed   ---------------------   66/233  ----  Ethiopia
     Successfully completed   ---------------------   67/233  ----  Falkland Islands
     Successfully completed   ---------------------   68/233  ----  Faroe Islands
     Successfully completed   ---------------------   69/233  ----  Fiji
     Successfully completed   ---------------------   70/233  ----  Finland
     Successfully completed   ---------------------   71/233  ----  France
     Successfully completed   ---------------------   72/233  ----  French Guiana
     Successfully completed   ---------------------   73/233  ----  French Polynesia
     Successfully completed   ---------------------   74/233  ----  French Southern Territories
     Successfully completed   ---------------------   75/233  ----  Gabon
     Successfully completed   ---------------------   76/233  ----  Gambia
     Successfully completed   ---------------------   77/233  ----  Georgia
     Successfully completed   ---------------------   78/233  ----  Germany
     Successfully completed   ---------------------   79/233  ----  Ghana
     Successfully completed   ---------------------   80/233  ----  Gibraltar
     Successfully completed   ---------------------   81/233  ----  Greece
     Successfully completed   ---------------------   82/233  ----  Greenland
     Successfully completed   ---------------------   83/233  ----  Grenada
     Successfully completed   ---------------------   84/233  ----  Guadeloupe
     Successfully completed   ---------------------   85/233  ----  Guam
     Successfully completed   ---------------------   86/233  ----  Guatemala
     Successfully completed   ---------------------   87/233  ----  Guernsey
     Successfully completed   ---------------------   88/233  ----  Guinea
     Successfully completed   ---------------------   89/233  ----  Guinea-Bissau
     Successfully completed   ---------------------   90/233  ----  Guyana
     Successfully completed   ---------------------   91/233  ----  Haiti
     Successfully completed   ---------------------   92/233  ----  Honduras
     Successfully completed   ---------------------   93/233  ----  Hong Kong
     Successfully completed   ---------------------   94/233  ----  Hungary
     Successfully completed   ---------------------   95/233  ----  Iceland
     Successfully completed   ---------------------   96/233  ----  India
     Successfully completed   ---------------------   97/233  ----  Indonesia
     Successfully completed   ---------------------   98/233  ----  Iran
     Successfully completed   ---------------------   99/233  ----  Iraq
     Successfully completed   ---------------------   100/233  ----  Ireland
     Successfully completed   ---------------------   101/233  ----  Isle Of Man
     Successfully completed   ---------------------   102/233  ----  Israel
     Successfully completed   ---------------------   103/233  ----  Italy
     Successfully completed   ---------------------   104/233  ----  Ivory Coast
     Successfully completed   ---------------------   105/233  ----  Jamaica
     Successfully completed   ---------------------   106/233  ----  Japan
     Successfully completed   ---------------------   107/233  ----  Jersey
     Successfully completed   ---------------------   108/233  ----  Jordan
     Successfully completed   ---------------------   109/233  ----  Kazakhstan
     Successfully completed   ---------------------   110/233  ----  Kenya
     Successfully completed   ---------------------   111/233  ----  Kosovo (Disputed Territory)
     Successfully completed   ---------------------   112/233  ----  Kuwait
     Successfully completed   ---------------------   113/233  ----  Kyrgyzstan
     Successfully completed   ---------------------   114/233  ----  Laos
     Successfully completed   ---------------------   115/233  ----  Latvia
     Successfully completed   ---------------------   116/233  ----  Lebanon
     Successfully completed   ---------------------   117/233  ----  Lesotho
     Successfully completed   ---------------------   118/233  ----  Liberia
     Successfully completed   ---------------------   119/233  ----  Libya
     Successfully completed   ---------------------   120/233  ----  Liechtenstein
     Successfully completed   ---------------------   121/233  ----  Lithuania
     Successfully completed   ---------------------   122/233  ----  Luxembourg
     Successfully completed   ---------------------   123/233  ----  Macao
     Successfully completed   ---------------------   124/233  ----  Madagascar
     Successfully completed   ---------------------   125/233  ----  Malawi
     Successfully completed   ---------------------   126/233  ----  Malaysia
     Successfully completed   ---------------------   127/233  ----  Maldives
     Successfully completed   ---------------------   128/233  ----  Mali
     Successfully completed   ---------------------   129/233  ----  Malta
     Successfully completed   ---------------------   130/233  ----  Marshall Islands
     Successfully completed   ---------------------   131/233  ----  Martinique
     Successfully completed   ---------------------   132/233  ----  Mauritania
     Successfully completed   ---------------------   133/233  ----  Mauritius
     Successfully completed   ---------------------   134/233  ----  Mexico
     Successfully completed   ---------------------   135/233  ----  Micronesia
     Successfully completed   ---------------------   136/233  ----  Moldova
     Successfully completed   ---------------------   137/233  ----  Monaco
     Successfully completed   ---------------------   138/233  ----  Mongolia
     Successfully completed   ---------------------   139/233  ----  Montenegro
     Successfully completed   ---------------------   140/233  ----  Montserrat
     Successfully completed   ---------------------   141/233  ----  Morocco
     Successfully completed   ---------------------   142/233  ----  Mozambique
     Successfully completed   ---------------------   143/233  ----  Myanmar
     Successfully completed   ---------------------   144/233  ----  Namibia
     Successfully completed   ---------------------   145/233  ----  Nauru
     Successfully completed   ---------------------   146/233  ----  Nepal
     Successfully completed   ---------------------   147/233  ----  Netherlands
     Successfully completed   ---------------------   148/233  ----  New Caledonia
     Successfully completed   ---------------------   149/233  ----  New Zealand
     Successfully completed   ---------------------   150/233  ----  Nicaragua
     Successfully completed   ---------------------   151/233  ----  Niger
     Successfully completed   ---------------------   152/233  ----  Nigeria
     Successfully completed   ---------------------   153/233  ----  Norfolk Island
     Successfully completed   ---------------------   154/233  ----  North Korea
     Successfully completed   ---------------------   155/233  ----  North Macedonia
     Successfully completed   ---------------------   156/233  ----  Northern Mariana Islands
     Successfully completed   ---------------------   157/233  ----  Norway
     Successfully completed   ---------------------   158/233  ----  Oman
     Successfully completed   ---------------------   159/233  ----  Pakistan
     Successfully completed   ---------------------   160/233  ----  Palau
     Successfully completed   ---------------------   161/233  ----  Palestine
     Successfully completed   ---------------------   162/233  ----  Panama
     Successfully completed   ---------------------   163/233  ----  Papua New Guinea
     Successfully completed   ---------------------   164/233  ----  Paraguay
     Successfully completed   ---------------------   165/233  ----  Peru
     Successfully completed   ---------------------   166/233  ----  Philippines
     Successfully completed   ---------------------   167/233  ----  Poland
     Successfully completed   ---------------------   168/233  ----  Portugal
     Successfully completed   ---------------------   169/233  ----  Puerto Rico
     Successfully completed   ---------------------   170/233  ----  Qatar
     Successfully completed   ---------------------   171/233  ----  Republic Of Congo
     Successfully completed   ---------------------   172/233  ----  Reunion
     Successfully completed   ---------------------   173/233  ----  Romania
     Successfully completed   ---------------------   174/233  ----  Russia
     Successfully completed   ---------------------   175/233  ----  Rwanda
     Successfully completed   ---------------------   176/233  ----  Saint Helena
     Successfully completed   ---------------------   177/233  ----  Saint Kitts And Nevis
     Successfully completed   ---------------------   178/233  ----  Saint Lucia
     Successfully completed   ---------------------   179/233  ----  Saint Vincent And The Grenadines
     Successfully completed   ---------------------   180/233  ----  Samoa
     Successfully completed   ---------------------   181/233  ----  San Marino
     Successfully completed   ---------------------   182/233  ----  Sao Tome And Principe
     Successfully completed   ---------------------   183/233  ----  Saudi Arabia
     Successfully completed   ---------------------   184/233  ----  Senegal
     Successfully completed   ---------------------   185/233  ----  Serbia
     Successfully completed   ---------------------   186/233  ----  Seychelles
     Successfully completed   ---------------------   187/233  ----  Sierra Leone
     Successfully completed   ---------------------   188/233  ----  Singapore
     Successfully completed   ---------------------   189/233  ----  Sint Maarten
     Successfully completed   ---------------------   190/233  ----  Slovakia
     Successfully completed   ---------------------   191/233  ----  Slovenia
     Successfully completed   ---------------------   192/233  ----  Solomon Islands
     Successfully completed   ---------------------   193/233  ----  Somalia
     Successfully completed   ---------------------   194/233  ----  South Africa
     Successfully completed   ---------------------   195/233  ----  South Korea
     Successfully completed   ---------------------   196/233  ----  South Sudan
     Successfully completed   ---------------------   197/233  ----  Spain
     Successfully completed   ---------------------   198/233  ----  Sri Lanka
     Successfully completed   ---------------------   199/233  ----  Sudan
     Successfully completed   ---------------------   200/233  ----  Suriname
     Successfully completed   ---------------------   201/233  ----  Swaziland
     Successfully completed   ---------------------   202/233  ----  Sweden
     Successfully completed   ---------------------   203/233  ----  Switzerland
     Successfully completed   ---------------------   204/233  ----  Syria
     Successfully completed   ---------------------   205/233  ----  Taiwan
     Successfully completed   ---------------------   206/233  ----  Tajikistan
     Successfully completed   ---------------------   207/233  ----  Tanzania
     Successfully completed   ---------------------   208/233  ----  Thailand
     Successfully completed   ---------------------   209/233  ----  Timor-Leste
     Successfully completed   ---------------------   210/233  ----  Togo
     Successfully completed   ---------------------   211/233  ----  Tonga
     Successfully completed   ---------------------   212/233  ----  Trinidad And Tobago
     Successfully completed   ---------------------   213/233  ----  Tunisia
     Successfully completed   ---------------------   214/233  ----  Turkey
     Successfully completed   ---------------------   215/233  ----  Turkmenistan
     Successfully completed   ---------------------   216/233  ----  Turks And Caicos Islands
     Successfully completed   ---------------------   217/233  ----  Tuvalu
     Successfully completed   ---------------------   218/233  ----  Uganda
     Successfully completed   ---------------------   219/233  ----  Ukraine
     Successfully completed   ---------------------   220/233  ----  United Arab Emirates
     Successfully completed   ---------------------   221/233  ----  United Kingdom
     Successfully completed   ---------------------   222/233  ----  United States
     Successfully completed   ---------------------   223/233  ----  Uruguay
     Successfully completed   ---------------------   224/233  ----  Us Virgin Islands
     Successfully completed   ---------------------   225/233  ----  Uzbekistan
     Successfully completed   ---------------------   226/233  ----  Vanuatu
     Successfully completed   ---------------------   227/233  ----  Vatican City
     Successfully completed   ---------------------   228/233  ----  Venezuela
     Successfully completed   ---------------------   229/233  ----  Vietnam
     Successfully completed   ---------------------   230/233  ----  Western Sahara
     Successfully completed   ---------------------   231/233  ----  Yemen
     Successfully completed   ---------------------   232/233  ----  Zambia
     Successfully completed   ---------------------   233/233  ----  Zimbabwe

Transactions completed successfully.
        CountryName Meal, Inexpensive Restaurant  \
0       Afghanistan                       1.71 $
1     Aland Islands                      11.91 $
2           Albania                       4.43 $
3          Alderney                      21.03 $
4           Algeria                       2.14 $
..              ...                          ...
228         Vietnam                       2.09 $
229  Western Sahara                       2.98 $
230           Yemen                       5.99 $
231          Zambia                       3.00 $
232        Zimbabwe                       7.50 $

    Meal for 2 People, Mid-range Restaurant, Three-course  \
0                                               8.42 $
1                                              59.53 $
2                                              25.33 $
3                                              68.20 $
4                                              14.24 $
..                                                 ...
228                                            20.94 $
229                                            24.80 $
230                                            17.98 $
231                                            22.62 $
232                                            40.00 $

    McMeal at McDonalds (or Equivalent Combo Meal) Cappuccino (regular)  \
0                                           3.00 $               1.07 $
1                                           9.92 $               3.46 $
2                                           4.64 $               1.14 $

In [4]:
data

,CountryName,"Meal, Inexpensive Restaurant","Meal for 2 People, Mid-range Restaurant, Three-course",McMeal at McDonalds (or Equivalent Combo Meal),Cappuccino (regular),Coke/Pepsi (12 oz small bottle),Water (12 oz small bottle),"Milk (regular), (1 gallon)",Loaf of Fresh White Bread (1 lb),"Rice (white), (1 lb)",...,1 Pair of Nike Running Shoes (Mid-Range),1 Pair of Men Leather Business Shoes,Apartment (1 bedroom) in City Centre,Apartment (1 bedroom) Outside of Centre,Apartment (3 bedrooms) in City Centre,Apartment (3 bedrooms) Outside of Centre,Price per Square Feet to Buy Apartment in City Centre,Price per Square Feet to Buy Apartment Outside of Centre,Average Monthly Net Salary (After Tax),"Mortgage Interest Rate in Percentages (%), Yearly, for 20 Years Fixed-Rate"
0,Afghanistan,1.71 $,8.42 $,3.00 $,1.07 $,0.38 $,0.15 $,2.24 $,0.22 $,0.53 $,...,29.60 $,33.01 $,84.64 $,56.92 $,216.29 $,134.08 $,57.03 $,24.04 $,186.41 $,13.36
1,Aland Islands,11.91 $,59.53 $,9.92 $,3.46 $,2.02 $,1.61 $,3.79 $,1.44 $,0.87 $,...,109.13 $,122.36 $,694.48 $,520.86 $,"1,140.93 $",917.70 $,245.78 $,175.12 $,"2,405.87 $",1.95
2,Albania,4.43 $,25.33 $,4.64 $,1.14 $,1.17 $,0.56 $,4.43 $,0.57 $,0.56 $,...,68.55 $,75.57 $,307.37 $,188.63 $,532.91 $,328.41 $,147.02 $,73.19 $,379.07 $,4.74
3,Alderney,21.03 $,68.20 $,9.09 $,3.32 $,1.88 $,0.95 $,6.45 $,2.06 $,?,...,?,?,?,?,?,909.30 $,?,?,?,?
4,Algeria,2.14 $,14.24 $,3.20 $,0.58 $,0.46 $,0.19 $,2.81 $,0.15 $,0.46 $,...,62.85 $,71.11 $,160.12 $,102.87 $,272.75 $,175.45 $,92.70 $,55.05 $,256.09 $,6.93
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
228,Vietnam,2.09 $,20.94 $,4.58 $,1.78 $,0.51 $,0.30 $,5.44 $,0.87 $,0.43 $,...,89.56 $,85.91 $,365.96 $,238.02 $,879.25 $,477.70 $,256.47 $,128.85 $,441.43 $,9.80
229,Western Sahara,2.98 $,24.80 $,4.96 $,0.99 $,0.50 $,0.30 $,2.63 $,0.45 $,0.72 $,...,64.49 $,69.45 $,297.63 $,148.82 $,595.27 $,248.03 $,51.61 $,42.40 $,198.42 $,?
230,Yemen,5.99 $,17.98 $,8.90 $,2.89 $,1.30 $,0.64 $,8.32 $,1.11 $,1.74 $,...,70.10 $,89.27 $,214.84 $,127.37 $,549.55 $,348.49 $,117.67 $,68.17 $,376.70 $,12.00
231,Zambia,3.00 $,22.62 $,3.17 $,1.59 $,0.76 $,0.48 $,4.00 $,0.83 $,0.83 $,...,94.80 $,121.45 $,283.79 $,217.23 $,788.90 $,452.05 $,999.99 $,"3,642.88 $",396.55 $,20.75
232,Zimbabwe,7.50 $,40.00 $,6.00 $,2.27 $,0.71 $,0.48 $,6.11 $,0.94 $,0.81 $,...,43.00 $,50.00 $,282.35 $,246.67 $,770.00 $,642.86 $,107.33 $,123.10 $,292.88 $,14.17

data from WHO

In [5]:
who_data = pd.read_csv('uaScoresDataFrame.csv', header=0, sep=',')

In [6]:
who_data.head()

,Unnamed: 0,UA_Name,UA_Country,UA_Continent,Housing,Cost of Living,Startups,Venture Capital,Travel Connectivity,Commute,...,Safety,Healthcare,Education,Environmental Quality,Economy,Taxation,Internet Access,Leisure & Culture,Tolerance,Outdoors
0,0,Aarhus,Denmark,Europe,6.1315,4.015,2.8270,2.512,3.5360,6.31175,...,9.6165,8.704333,5.3665,7.63300,4.8865,5.0680,8.373,3.1870,9.7385,4.1300
1,1,Adelaide,Australia,Oceania,6.3095,4.692,3.1365,2.640,1.7765,5.33625,...,7.9260,7.936667,5.1420,8.33075,6.0695,4.5885,4.341,4.3285,7.8220,5.5310
2,2,Albuquerque,New Mexico,North America,7.2620,6.059,3.7720,1.493,1.4555,5.05575,...,1.3435,6.430000,4.1520,7.31950,6.5145,4.3460,5.396,4.8900,7.0285,3.5155
3,3,Almaty,Kazakhstan,Asia,9.2820,9.333,2.4585,0.000,4.5920,5.87125,...,7.3090,4.545667,2.2830,3.85675,5.2690,8.5220,2.886,2.9370,6.5395,5.5000
4,4,Amsterdam,Netherlands,Europe,3.0530,3.824,7.9715,6.107,8.3245,6.11850,...,8.5035,7.907333,6.1800,7.59725,5.0530,4.9550,4.523,8.8740,8.3680,5.3070

In [7]:
who_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 0 to 265
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             266 non-null    int64
 1   UA_Name                266 non-null    object
 2   UA_Country             266 non-null    object
 3   UA_Continent           266 non-null    object
 4   Housing                266 non-null    float64
 5   Cost of Living         266 non-null    float64
 6   Startups               266 non-null    float64
 7   Venture Capital        266 non-null    float64
 8   Travel Connectivity    266 non-null    float64
 9   Commute                266 non-null    float64
 10  Business Freedom       266 non-null    float64
 11  Safety                 266 non-null    float64
 12  Healthcare             266 non-null    float64
 13  Education              266 non-null    float64
 14  Environmental Quality  266 non-null    float64
 15  Economy                266 non-null    float64
 16  Taxation               266 non-null    float64
 17  Internet Access        266 non-null    float64
 18  Leisure & Culture      266 non-null    float64
 19  Tolerance              266 non-null    float64
 20  Outdoors               266 non-null    float64
dtypes: float64(17), int64(1), object(3)
memory usage: 43.8+ KB