In [2]:
!pip install colorama

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting colorama
  Downloading colorama-0.4.5-py2.py3-none-any.whl (16 kB)
Installing collected packages: colorama
Successfully installed colorama-0.4.5

In [5]:
# For web scraping
import requests 
from bs4 import BeautifulSoup
import pandas as pd

# To print colored text in terminal
import colorama
from colorama import Fore, Back, Style
colorama.init()


class webScraping:

    def __init__(self) -> None:
        self.DataDict = dict()
        self.DataDict["CountryName"] = list()


    def getCountyNameList(self, countryURL = "https://www.numbeo.com/cost-of-living/"):

        res = requests.get(countryURL).text
        soup = BeautifulSoup(res, "html.parser")
        
        countyrlist = list()
        
        for a in  soup.find_all('a',href = True):
            if 'country_result' in a['href']:
                countyrlist.append(a["href"].split("=")[1])
            
        return countyrlist

    def getCountriesCostOfLiving(self, countryURL, countryName):

        self.DataDict["CountryName"].append(countryName)
        res = requests.get(countryURL).text
        soup = BeautifulSoup(res, "html.parser")
        table = soup.find("table", class_ = "data_wide_table")
        for row in table.find_all("tr"):
            column = row.find_all("td")
            if column != []:
                name = column[0].text.strip()
                price = column[1].text.strip()
                
                if name not in [i for i in self.DataDict.keys()]:
                    self.DataDict[name] = list()
                    self.DataDict[name].append(price)

                else:
                    self.DataDict[name].append(price)



    def CountryNameOperation(self, countryName): 

        countryName = countryName.replace("%28", "(")
        countryName = countryName.replace("%29", ")")
        countryName = countryName.replace("+", " ")
        
        return countryName

    def dataMerge(self):
        
        countyrsList = self.getCountyNameList()
        print(Fore.LIGHTRED_EX, "Country names successfully imported (total number of countries : {})\n".format(len(countyrsList)))
        counter = 1
        for countryName in countyrsList:
            countryName_ = self.CountryNameOperation(countryName)
            url = "https://www.numbeo.com/cost-of-living/country_result.jsp?country={}&displayCurrency=USD".format(countryName)
            self.getCountriesCostOfLiving(url, countryName_)
            print(Fore.GREEN, "    Successfully completed ", Fore.MAGENTA, "--------------------- ",
                Fore.WHITE, "{}/{}".format(counter, len(countyrsList)), Fore.MAGENTA, "----", Fore.BLUE, "{}".format(countryName_))

            counter += 1

        return self.DataDict

    def getDataFrame(self):
        dataDict = self.DataDict
        counterDict = dict()
        
        for i in dataDict:
            if str(len(dataDict[i])) not in [ky for ky in counterDict.keys()]:
                
                counterDict[str(len(dataDict[i]))] = 1
            else:
                counterDict[str(len(dataDict[i]))] += 1
                
        maxValue = max(counterDict, key = counterDict.get)
        
        lastDict = dict()
        for i in dataDict:
            if len(dataDict[i]) == int(maxValue):
                lastDict[i] = dataDict[i]
                
        print(Fore.LIGHTGREEN_EX, "\nTransactions completed successfully.", Fore.RESET)
        
        return pd.DataFrame(lastDict)
            
            
                
            

WS = webScraping()

WS.dataMerge()

data = WS.getDataFrame()
print(data)

 Country names successfully imported (total number of countries : 0)


Transactions completed successfully.
Empty DataFrame
Columns: [CountryName]
Index: []

In [4]:
data

,CountryName,"Meal, Inexpensive Restaurant","Meal for 2 People, Mid-range Restaurant, Three-course",McMeal at McDonalds (or Equivalent Combo Meal),Cappuccino (regular),Coke/Pepsi (12 oz small bottle),Water (12 oz small bottle),"Milk (regular), (1 gallon)",Loaf of Fresh White Bread (1 lb),"Rice (white), (1 lb)",...,1 Pair of Nike Running Shoes (Mid-Range),1 Pair of Men Leather Business Shoes,Apartment (1 bedroom) in City Centre,Apartment (1 bedroom) Outside of Centre,Apartment (3 bedrooms) in City Centre,Apartment (3 bedrooms) Outside of Centre,Price per Square Feet to Buy Apartment in City Centre,Price per Square Feet to Buy Apartment Outside of Centre,Average Monthly Net Salary (After Tax),"Mortgage Interest Rate in Percentages (%), Yearly, for 20 Years Fixed-Rate"
0,Afghanistan,1.71 $,8.41 $,3.00 $,1.06 $,0.38 $,0.15 $,2.23 $,0.22 $,0.53 $,...,29.56 $,32.97 $,84.52 $,56.84 $,215.99 $,133.89 $,57.00 $,24.04 $,186.15 $,13.36
1,Aland Islands,11.96 $,59.79 $,9.96 $,3.47 $,2.02 $,1.61 $,3.81 $,1.45 $,0.88 $,...,109.61 $,122.90 $,697.53 $,523.15 $,"1,145.95 $",921.74 $,246.87 $,175.89 $,"2,416.45 $",1.95
2,Albania,4.44 $,25.38 $,4.65 $,1.14 $,1.17 $,0.56 $,4.43 $,0.57 $,0.56 $,...,68.70 $,75.74 $,308.12 $,189.06 $,534.18 $,329.13 $,147.45 $,73.40 $,381.61 $,4.74
3,Alderney,21.16 $,68.62 $,9.15 $,3.34 $,1.89 $,0.95 $,6.49 $,2.08 $,?,...,?,?,?,?,?,914.97 $,?,?,?,?
4,Algeria,2.14 $,14.29 $,3.22 $,0.59 $,0.46 $,0.19 $,2.82 $,0.15 $,0.46 $,...,63.08 $,71.37 $,160.70 $,103.24 $,273.75 $,176.09 $,93.04 $,55.25 $,257.01 $,6.93
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
228,Vietnam,2.09 $,20.95 $,4.58 $,1.78 $,0.51 $,0.30 $,5.44 $,0.87 $,0.43 $,...,89.61 $,85.96 $,366.16 $,238.12 $,879.70 $,477.98 $,256.62 $,128.95 $,441.71 $,9.80
229,Western Sahara,2.99 $,24.91 $,4.98 $,1.00 $,0.50 $,0.30 $,2.64 $,0.45 $,0.72 $,...,64.77 $,69.75 $,298.94 $,149.47 $,597.89 $,249.12 $,51.84 $,42.58 $,199.30 $,?
230,Yemen,5.99 $,17.98 $,8.90 $,2.89 $,1.30 $,0.64 $,8.32 $,1.11 $,1.74 $,...,70.10 $,89.27 $,214.84 $,127.37 $,549.55 $,348.49 $,117.67 $,68.17 $,376.70 $,12.00
231,Zambia,3.00 $,22.62 $,3.17 $,1.59 $,0.76 $,0.48 $,4.00 $,0.83 $,0.83 $,...,94.80 $,121.45 $,283.79 $,217.23 $,788.90 $,452.05 $,999.99 $,"3,642.88 $",396.55 $,20.75
232,Zimbabwe,7.50 $,40.00 $,6.00 $,2.27 $,0.71 $,0.48 $,6.11 $,0.94 $,0.81 $,...,43.00 $,50.00 $,282.35 $,246.67 $,770.00 $,642.86 $,107.33 $,123.10 $,292.88 $,14.17